src/main/mule/cicd-033.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3aa13f9a-62b3-45b8-be89-1e0737a086c2" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="cicd-033Flow" doc:id="41ef30aa-861e-43e9-9074-fbb4514b73cf" >
		<http:listener doc:name="Listener" doc:id="a2c141e3-cbb5-4690-a4b2-9826acc7773f" path="base" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="ea553e45-544e-4381-8c6b-68350806cc51" message="#['Application Start']"/>
		<ee:transform doc:name="Transform Message" doc:id="fd434bbd-2203-4c58-accf-587b22610b14" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	'message': 'Welcome to pipeline session',
     'Status': 'Success'
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="2e5de3d3-2005-4c74-b73a-b9282f42aee1" message="#['Application End']"/>
	</flow>
</mule>
